%h2
  .user-my-edit
    Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :nickname,class:"nick"
    %br/
    =f.text_field :nickname,class:"nick-field"
  .field
    = f.label :email,class:"in-mail"
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email",class:"in-e"
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .field
    = f.label :password,class:"in-pass"
    %i.pass-message (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, autocomplete: "new-password",class:"in-pas"
    - if @minimum_password_length
      %br/
      %em.len-message
        = @minimum_password_length
        characters minimum
  .field
    = f.label :password_confirmation,class:"conf"
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password",class:"conf-field"
  .field
    = f.label :current_password,class:"current-pass"
    %i.current-message (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password, autocomplete: "current-password",class:"current-field"
  .actions
    = f.submit "Update",class:"in-btn"
  %h3 Cancel my account
  %p.un-happy
    Unhappy?
    %br
    #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class: "can-ac"}
.current-back
  = link_to "Back", :back,class:"back-back"
