%h2
  .forget Forgot your password?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email,class:"for-mail"
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email",class:"for-e"
  .actions
    = f.submit "Send me reset password instructions",class:"for-sub"
.unddd
  = render "devise/shared/links"
