%h2 
  .log-in Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email,class:"in-mail"
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email",class:"in-e"
  .field
    = f.label :password,class:"in-pass"
    %br/
    = f.password_field :password, autocomplete: "current-password",class:"in-pas"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me,class:"in-rem"
      = f.label :remember_me,class:"rem"
  .actions
    = f.submit "Log in",class:"in-btn"
.undd
  = render "devise/shared/links"
