.new
  .newpost
    %i.fas.fa-plane-arrival
    NEW POSTS
    = link_to "posts/all" do
      %label.all-posts
        すべての投稿を見る >>
  .newpost-post
    - @posts.each do |post|
      = link_to post_path(post) ,class: "pppp-pppp" do
        .posts-product
          = image_tag("#{post.image.url}", size: '400x270', class: "posts-img")
          .post-new-title
            = post.title
          .words-words
            = post.words