.side
  %h1.title
    MOVIE
    %br
    WORDS
  - if user_signed_in?
    = link_to "/mypages/show" ,data: {"turbolinks" => false} do
      %label.currentusername
        %i.far.fa-user
        = current_user.nickname
    = link_to new_post_path, data: {"turbolinks" => false} do
      %label.post
        ー
        %i.fas.fa-pen-nib
        投稿する
    = link_to "/mypages" , data: {"turbolinks" => false} do
      %label.watch
        ー
        %i.fas.fa-film
        過去の投稿
    = link_to "posts/all", date: {"turbolinks" => false} do
      %label.side-all
        ー
        %i.fas.fa-globe
        すべての投稿を見る

    = link_to sign_out_path , date: {"turbolinks" => false} do
      %label.log-out
        ー
        %i.fas.fa-sign-out-alt
        ログアウト
  - else
    = link_to new_user_registration_path ,data: {"turbolinks" => false} do
      %label.registration
        ー
        %i.far.fa-arrow-alt-circle-right
        新規会員登録
    = link_to new_user_session_path ,data: {"turbolinks" => false} do
      %label.log-in
        ー
        %i.fas.fa-sign-in-alt
        ログイン