.showpost
  = render "logo"
  .show-main
    .good-btn
      %i.far.fa-thumbs-up
      .num-good
        0
    .show-content
      .show-postuser
        投稿者 : 
        = @user.nickname
      .show-frame
        .show-title
          = @post.title
        .show-category
          = @category.parent.parent.name
          ／
          = @category.parent.name
          ／
          = @category.name
        .show-image
          = image_tag("#{@post.image.url}", size: '600x400', class: 'img__img')
        .show-actor
          Actor :
          = @post.act
        .show-words
          "
          = @post.words
          "
        .show-reason
          = @post.reason
        .curr-btn
          - if @post.user_id == current_user.id
            %button.edit-btn
              EDIT POST
            %button.delete-btn
              DELETE POST
          - else
    =link_to root_path, class:"back" do
      %label.back-btn
        << TOPへ戻る